body {
  margin: 0;
  font-family: 'Arial','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Yu Gothic UI',sans-serif;
}

body h1, h2 {
  font-family: 'Segoe Print',sans-serif;
}

header {
  box-shadow: 0 1px 2px 2px #888;
  height: 3rem;
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 1;
}

header ul {
  margin: 0;
  list-style: none;
  text-align: right;
  margin-right: 32px;
}

header ul li {
  line-height: 3rem;
  display: inline;
  margin: 1rem;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a:hover {
  opacity: 0.5;
}

.top {
  margin: 0;
  position: relative;
}

.top img {
  width: 100%;
  margin-top: 3rem;
}

.top h1 {
  margin: 0;
  font-size: 7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 3px 3px 1px black;
}

main {
  text-align: center;
  color: #111;
}

main .main_black {
  background-color: #444;
  color: #eee;
  padding-bottom: 2rem;
  margin: 0;
}

main h2 { 
  font-size: 4rem;
  padding-top: 3rem;
  margin: 0 0 3rem 0;
}

main > div {
  margin-bottom: 3rem;
}

.profile .container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 20%;
}

.profile img {
  margin-bottom: 2rem;
  width: 300px;
  border-radius: 50%;
}

.profile table tr {
  margin-bottom: 1rem;
}

.profile table tr th, td {
  border-bottom: thin dotted #111;
  padding: 6px 12px;
  font-size: 20px;
}

.hobby > div{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hobby h3 {
  position: relative;
  padding:0.25em 1em;
  font-size: 26px;
}

.hobby h3:before,.hobby h3:after{ 
  content:'';
  width: 20px;
  height: 30px;
  position: absolute;
  display: inline-block;
}

.hobby h3:before{
  border-left: solid 2px #eee;
  border-top: solid 2px #eee;
  top:0;
  left: 0;
}

.hobby h3:after{
  border-right: solid 2px #eee;
  border-bottom: solid 2px #eee;
  bottom:0;
  right: 0;
}

.hobby ul {
  text-align: left;
  font-size: 20px;
}

.hobby p {
  font-size: 1rem;
  margin-top: 0;
}

.skill > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.skill h3 {
  width: 240px;
  margin: 0;
  display: inline-block;
  line-height: 100px;
  font-size: 3rem;
}

.skill .skills {
  width: 717px;
}

.skill .name {
  display: inline-block;
  margin: 0 2rem;
}

.skill p {
  text-align: center;
}

.skill img {
  height: 100px;
}


.work .container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.work .container div{
  margin: auto 2em;
}

.work img {
  height: 15rem;
}

.work a {
  color: inherit;
  text-decoration: none;
}

.work a:hover {
  opacity: 0.5;
}

.proud {
  text-align: center;
}

.proud table{
  display: flex;
  justify-content: center;
}

.proud td {
  font-size: 20px;
  text-align: left;
}

footer div {
  position: fixed; 
  bottom: 5%;
  left: 95%;
  font-size: 3rem;
  text-shadow: 2px 2px 1px gray;
}

footer div:hover{
  bottom: 4.5%;
  left: 95.1%;
  text-shadow: none;
}


@media screen and (max-width: 479px) {
  header ul {
    margin-right: 0;
  }

  header ul li {
    margin: 3px;
  }

  .top h1 {
    font-size: 3rem;
  }

  .hobby .container > div {
    margin: auto 1rem;
  }

  .work .container > div {
    margin-bottom: 32px;
  }

  footer div {
    bottom: 2%;
    left: 85%;
  }

  footer div:hover{
    bottom: 1.5%;
    left: 86%;
  }
}

